@{
    Layout = null;
}
@model BusinessObjects.Models.MetaData.ResumeGenerateModel

<div class="resumeWrapper" style="padding: 40px;font-family:sans-serif;">
    <div style="text-align:center;">
        @if (Model.UserProfile != null)
        {
            <h1 style="margin:0;">@Model.UserProfile.FirstName @Model.UserProfile.LastName</h1>
            <p style="margin:0;">
                @Model.UserProfile.Address1
            </p>
            <p style="margin:0;">@Model.UserProfile.City, @Model.UserProfile.StateAbbr @Model.UserProfile.ZipCode</p>
            <p style="margin:0;">
                @Model.UserProfile.Phone
            </p>
            <p style="margin:0;">@Model.UserProfile.UserName</p>
        }

    </div>
    <div>
        <p>
            <b>Objective:</b>
            <span style="padding-left:10px;"> To utilize my acting, adapting, and administering skills to secure a part-time job in a matech co organization to increase revenue.</span>
        </p>
        <p><b>Education:</b></p>
        @foreach (var c in Model.Colleges)
        {
            <table style="width: 100%;text-align: left;">
                <tr>
                    <th>
                        @c.CollegeName
                    </th>
                    <th>@c.CollegeCity</th>
                    <th>@c.GradDate</th>
                </tr>
                <tr>
                    <td>Bilal Khan</td>
                </tr>
                <tr>
                    <td style="width:33.33%">
                        @c.DegreeDesc	GPA:  @c.Gpa
                        Specialty in @c.MajorSpecialtyDesc
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Minor:  @c.MinorDesc</td>
                </tr>
            </table>


            <p style="margin:0;">Certificate in @c.CertificateDesc</p>
            <p style="margin:0;"></p>
            foreach (var a in Model.AcademicHonors)
            {
                <p style="margin:0;">@c.HonorProgram @c.GradDate</p>
                <div style="display:flex;align-items:center;justify-content: space-between;padding-top:10px;">
                    <div>
                        @a.HonorName
                    </div>
                    <div style="text-align:right;"></div>
                </div>
            }
            <ul>
                @foreach (var sch in Model.AcademicScholarships)
                {
                    <li>@sch.ScholarshipName  @sch.ScholarshipMonth - @sch.ScholarshipYear</li>
                }
            </ul>
           
        }
    </div>
    @if (@Model.MilitaryExperiences != null)
    {

        <b>Military Experience:</b><br />
        <div style="display:flex;align-items:center;justify-content: space-between;">
            <div>

                <i> @Model.MilitaryExperiences.City @Model.MilitaryExperiences.Rank</i>
            </div>
            <div>@Model.MilitaryExperiences.Branch</div>
            <div>@Model.MilitaryExperiences.StartedMonth @Model.MilitaryExperiences.StartedYear - @Model.MilitaryExperiences.EndedMonth @Model.MilitaryExperiences.EndedYear</div>
        </div>
        <div style="display:flex;align-items:center;justify-content: space-between;">
        <b>Military Position:</b>
            @if (Model.MilitaryPositions.Count > 0)
            {
                <ul>
                    @foreach (var p in Model.MilitaryPositions)
                    {
                        <li>@p.Title</li>
                    }
                </ul>
              
            }
           

        </div>
    }
  
    @if (Model.Organizations.Count > 0)
    {
        <div>
            <b>Organization and Volunteer Experience:</b>
        </div>
        @foreach (var o in Model.Organizations)
        {
            <div style="display:flex;align-items:center;justify-content: space-between;">
                <div>
                    <b> @o.City</b>
                </div>
                <div>@o.StartedMonth @o.StartedYear, @o.StateName</div>
                <div>@o.EndedMonth @o.EndedYear</div>
            </div><br />
            <b>Organization Positions</b>
            @foreach (var op in Model.OrgPositions)
            {
                <div style="display:flex;align-items:center;justify-content: space-between;">
                    <div>
                        <i>@op.Title</i>
                    </div>
                    <div>@op.StartedMonth @op.StartedYear - @op.EndedMonth @op.EndedYear</div>
                </div>
            }

        }

    }
    <br>

    @if (Model.VolunteerOrgs.Count > 0)
    {
        <b>Organization</b>
        foreach (var vo in Model.VolunteerOrgs)
        {
            <div style="display:flex;align-items:center;justify-content: space-between;">
                <div>
                    <b> @vo.VolunteerOrg1</b>
                </div>
                <div>@vo.City, @vo.StateName</div>
                <div>@vo.StartedMonth @vo.StartedYear - @vo.EndedMonth @vo.EndedYear</div>
            </div>
            <b>Volunteer Positions</b>
            <ul>
                @foreach (var vp in Model.VolunteerPositions)
                {
                    <li>@vp.Title (@vp.StartedMonth @vp.StartedYear)</li>
                }
            </ul>
            
        }


    }


    <div>
        <b>Licenses and Certificates:</b>
    </div>
    @if (Model.Licenses.Count > 0)
    {
        foreach (var l in Model.Licenses)
        {
            <div style="display:flex;align-items:center;justify-content: space-between;">
                <div>
                    @l.Title
                </div>
                <div>@l.StateName</div>
            </div>
        }

    }

    @if (Model.Certificates.Count > 0)
    {
        foreach (var c in Model.Certificates)
        {
            <div style="display:flex;align-items:center;justify-content: space-between;">
                <div>
                    @c.Title
                </div>
                <div>@c.StateName</div>
            </div>
        }

    }
    <div style="padding-top:15px;">
        <b>Professional Affiliations:</b>
    </div>
    <div style="display:flex;align-items:center;justify-content: space-between;">
        @foreach (var aff in Model.AffiliationPositions)
        {
            <div>
                <b>@aff.Title</b>
            </div>
            <div>@aff.StartedMonth - @aff.StartedYear</div>

            <div style="display:flex;align-items:center;justify-content: space-between;">
                <div>
                    <i> test - titlew</i>
                </div>
                <div>March 2072 - March 2073</div>
            </div>
           
        }
        <b>Affilation Position</b>
        <ul>
            @foreach (var p in Model.AffiliationPositions)
            {
                <li>@p.Title (@p.StartedMonth @p.StartedYear - @p.EndedMonth @p.EndedYear)</li>
            }
        </ul><br />

        <p>
            <b>Computer Skills:</b>
            <span style="padding-left:10px;">
                Microsoft Word, Microsoft Power Point, Macintosh Pages, Adobe Illustrator, Adobe Publisher, web developement
            </span>
        </p><br />
        <p><b>Language Skills:</b></p>
        @if (Model.Languages.Count > 0)
        {
            foreach (var lang in Model.Languages)
            {
                <span style="padding-left:10px;">@lang.LanguageAbilityDesc in @lang.LanguageName</span>

            }

        }

    </div>
</div>