@{
    Layout = null;
}
@model BusinessObjects.Models.MetaData.ResumeGenerateModel

<style>
    table tr th, td {
        padding: 10px;
        border: 1px solid #000;
    }
</style>
<div class="resumeWrapper" style="padding: 40px;font-family:sans-serif;">
    <div>
        @if (Model.UserProfile != null)
        {
            <h1 style="margin:0;text-transform: uppercase;">
                @Model.UserProfile.FirstName <span style="font-weight: 100;color: #a3a3a3;"> @Model.UserProfile.LastName </span>
            </h1>
            <p style="margin:0;display: inline-block;border-right: 1px solid #000;padding-right: 5px;line-height: 20px;margin-bottom: 5px;">
                <span style="color: #a3a3a3;">Address: </span>
                @Model.UserProfile.Address1
            </p>
            <p style="margin:0;display: inline-block;line-height: 20px;margin-bottom: 5px;">
                <span style="color: #a3a3a3;">Email: </span>
                @Model.UserProfile.UserName
            </p>
            <div>
                <p style="margin:0;display: inline-block;border-right: 1px solid #000;padding-right: 5px;line-height: 20px;margin-bottom: 5px;">
                    <span style="color: #a3a3a3;">City: </span>
                    @Model.UserProfile.City
                </p>
                <p style="margin:0;display: inline-block;border-right: 1px solid #000;padding-right: 5px;line-height: 20px;margin-bottom: 5px;">
                    <span style="color: #a3a3a3;">State: </span>
                    @Model.UserProfile.StateAbbr
                </p>
                <p style="margin:0;display:inline-block;margin-bottom: 5px;">
                    <span style="color: #a3a3a3;">ZipCode: </span>
                    @Model.UserProfile.ZipCode
                </p>
            </div>
            <p style="margin:0;">
                <span style="color: #a3a3a3;">phone: </span>
                @Model.UserProfile.Phone
            </p>

        }

    </div>
    <div>
        @if (Model.ObjectiveSummary != null)
        {
            <p>
                <span style="display: block;font-weight: 700;padding-bottom: 10px;background: #dbdbdb;padding-top: 10px;padding-left: 10px;font-size: 20px;margin-bottom: 16px;">@Model.ObjectiveSummary.ObjectiveType</span>
                <span> To utilize my @Model.ObjectiveSummary.ObjectiveDesc1,  @Model.ObjectiveSummary.ObjectiveDesc2, and  @Model.ObjectiveSummary.ObjectiveDesc3 skills to secure a  @Model.ObjectiveSummary.PositionTypeDesc job in @Model.ObjectiveSummary.CurrentCompanyType to increase revenue.</span>
            </p>
        }

        <p style="padding-bottom: 10px;background: #dbdbdb;padding-top: 10px;padding-left: 10px;font-size: 20px;margin-bottom: 16px;"><b>Education:</b></p>
        @foreach (var c in Model.Colleges)
        {

            <span style="font-weight: 700;">@c.CollegeName</span>
            <ul>
                <li style="padding-bottom: 5px;">
                    @c.CollegeCity
                </li>
                <li style="padding-bottom: 5px;">@c.GradDate</li>
                <li style="padding-bottom: 5px;">@c.SchoolName</li>
                <li style="padding-bottom: 5px;">
                    @c.DegreeDesc	GPA:  @c.Gpa
                    Specialty in @c.MajorSpecialtyDesc
                </li>
                <li style="padding-bottom: 5px;">Minor:  @c.MinorDesc</li>
                <li>Certificate in @c.CertificateDesc</li>
            </ul>




            foreach (var a in Model.AcademicHonors)
            {
                <p style="margin:0;">@c.HonorProgram @c.GradDate</p>
                <div style="display:flex;align-items:center;justify-content: space-between;padding-top:10px;">
                    <span style="font-weight: 700;">
                        @a.HonorName
                    </span>
                    <div style="text-align:right;"></div>
                </div>
            }
            <ul>
                @foreach (var sch in Model.AcademicScholarships)
                {
                    <li>@sch.ScholarshipName  @sch.ScholarshipMonth - @sch.ScholarshipYear</li>
                }
            </ul>

        }
    </div>

    @if (Model.WorkExperience != null)
    {

        <p style="padding-bottom: 10px;background: #dbdbdb;padding-top: 10px;padding-left: 10px;font-size: 20px;margin-bottom: 16px;"><b>Work Experience:</b></p>

        if (Model.WorkExperience.Companies.Count > 0)
        {
            @foreach (var company in Model.WorkExperience.Companies)
            {
                <b>Company: @company.CompanyName</b><br />
                if (company.Positions.Count > 0)
                {
                    @foreach (var job in company.Positions)
                    {
                        <b>Position: @job.Title</b><br />
                        @foreach (var responsibilityOption in job.responsibilityOptions)
                        {
                            <em>Responsibilities FAQs</em><br />

                            foreach (var workRespQuestion in job.workRespQuestions)
                            {
                                <b>Question: @workRespQuestion.Question</b>
                                <p>Answer: @workRespQuestion.Answer</p>
                            }

                        }
                        <br />
                        if (job.JobAwards.Count > 0)
                        {
                            <p>Awards</p>

                            foreach (var award in job.JobAwards)
                            {
                                <p>@award.AwardDesc</p>
                            }
                        }
                       
                    }
                }
               
            }
        }
       
    }

    @if (@Model.MilitaryExperiences != null)
    {
        if (!Model.MilitaryExperiences.IsOptOut)
        {

            <p style="padding-bottom: 10px;background: #dbdbdb;padding-top: 10px;padding-left: 10px;font-size: 20px;margin-bottom: 16px;"><b>Military Experience:</b></p>
            <div>
                <ul>
                    <li><i> @Model.MilitaryExperiences.City @Model.MilitaryExperiences.Rank</i></li>
                    <li>@Model.MilitaryExperiences.Branch</li>
                    <li>
                        @Model.MilitaryExperiences.StartedMonth @Model.MilitaryExperiences.StartedYear - @Model.MilitaryExperiences.EndedMonth @Model.MilitaryExperiences.EndedYear
                    </li>
                </ul>
            </div>
            <div>
                <p style="padding-bottom: 10px;background: #dbdbdb;padding-top: 10px;padding-left: 10px;font-size: 20px;margin-bottom: 16px;"><b>Military Position:</b></p>
                @if (Model.MilitaryPositions.Count > 0)
                {
                    <ul>
                        @foreach (var p in Model.MilitaryPositions)
                        {
                            <li>@p.Title</li>
                        }
                    </ul>

                }


            </div>
        }
    }


    @if (!Model.OrgExperience.IsOptOut)
    {
        <div>
            <p style="padding-bottom: 10px;background: #dbdbdb;padding-top: 10px;padding-left: 10px;font-size: 20px;margin-bottom: 16px;"><b>Organization and Volunteer Experience:</b></p>
        </div>
        @foreach (var o in Model.Organizations)
        {
            <ul>
                <li>@o.City</li>
                <li>@o.StartedMonth @o.StartedYear, @o.StateName</li>
                <li>@o.EndedMonth @o.EndedYear</li>
            </ul>
            if (Model.OrgPositions.Count > 0)
            {
                <p style="padding-bottom: 10px;background: #dbdbdb;padding-top: 10px;padding-left: 10px;font-size: 20px;margin-bottom: 16px;"><b>Organization Positions</b></p>
                @foreach (var op in Model.OrgPositions)
                {
                    <ul>
                        <li> <i>@op.Title</i></li>
                        <li>@op.StartedMonth @op.StartedYear - @op.EndedMonth @op.EndedYear</li>

                    </ul>
                }
            }


        }

    }
    <br>

    @if (!Model.VolunteerExperience.IsOptOut)
    {
        <p style="padding-bottom: 10px;background: #dbdbdb;padding-top: 10px;padding-left: 10px;font-size: 20px;margin-bottom: 16px;">
            <b>Organization</b>
        </p>
        foreach (var vo in Model.VolunteerOrgs)
        {
            <ul>
                <li>@vo.VolunteerOrg1</li>
                <li>@vo.City, @vo.StateName</li>
                <li>@vo.StartedMonth @vo.StartedYear - @vo.EndedMonth @vo.EndedYear</li>
            </ul>

            <p style="padding-bottom: 10px;background: #dbdbdb;padding-top: 10px;padding-left: 10px;font-size: 20px;margin-bottom: 16px;"><b>Volunteer Positions</b></p>
            <ul>
                @foreach (var vp in Model.VolunteerPositions)
                {
                    <li>@vp.Title (@vp.StartedMonth @vp.StartedYear)</li>
                }
            </ul>

        }


    }

    @if (!Model.Professional.IsOptOut)
    {
        if (Model.Licenses.Count > 0)
        {
            <div>
                <p style="padding-bottom: 10px;background: #dbdbdb;padding-top: 10px;padding-left: 10px;font-size: 20px;margin-bottom: 16px;"> <b>Licenses and Certificates:</b></p>
            </div>
            foreach (var l in Model.Licenses)
            {
                <ul style="margin-bottom:0;">
                    <li> @l.Title (@l.StateName)</li>
                </ul>
            }

        }

        if (Model.Certificates.Count > 0)
        {
            foreach (var c in Model.Certificates)
            {
                <ul style="margin-bottom:0;">
                    <li>@c.Title (@c.StateName)</li>
                </ul>
            }

        }
        if (Model.AffiliationPositions.Count > 0)
        {
            <p style="padding-bottom: 10px;background: #dbdbdb;padding-top: 10px;padding-left: 10px;font-size: 20px;margin-bottom: 16px;"> <b>Professional Affiliations:</b></p>
            @foreach (var aff in Model.AffiliationPositions)
            {
                <div>
                    <b>@aff.Title</b>
                </div>
                <ul>
                    <li>@aff.StartedMonth - @aff.StartedYear</li>
                    <li> test - titlew</li>
                    <li>March 2072 - March 2073</li>
                </ul>
            }
            <p style="padding-bottom: 10px;background: #dbdbdb;padding-top: 10px;padding-left: 10px;font-size: 20px;margin-bottom: 16px;">
                <b>Affilation Position</b>
            </p>
            <ul>
                @foreach (var p in Model.AffiliationPositions)
                {
                    <li>@p.Title (@p.StartedMonth @p.StartedYear - @p.EndedMonth @p.EndedYear)</li>
                }
            </ul>
        }

    }
    <div>
        <p style="padding-bottom: 10px;background: #dbdbdb;padding-top: 10px;padding-left: 10px;font-size: 20px;margin-bottom: 16px;">
            <b>Computer Skills:</b>
        </p>
        <span>
            Microsoft Word, Microsoft Power Point, Macintosh Pages, Adobe Illustrator, Adobe Publisher, Web Developement
        </span>
        </p><br />

        @if (Model.Languages.Count > 0)
        {
            <p style="padding-bottom: 10px;background: #dbdbdb;padding-top: 10px;padding-left: 10px;font-size: 20px;margin-bottom: 16px;"><b>Language Skills:</b></p>
            foreach (var lang in Model.Languages)
            {
                <span>@lang.LanguageAbilityDesc in @lang.LanguageName</span>

            }

        }

    </div>
</div>